

  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .iconEmail {
    color: black;
    font-size: 22px;
  }
  
  .iconFacebook {
    color: black;
    font-size: 22px;
  }
  
  .iconInstagram {
    color: black;
    font-size: 22px;
  }
  
  .iconPhone {
    color: black;
    font-size: 18px;
  }
  